
*.DS_Store
php-curso/Aula04/aula04/.idea/.name
php-curso/Aula04/leia-me.txt
php-curso/Aula05OA/nbproject/private/config.properties
php-curso/Aula05OA/nbproject/private/private.properties
php-curso/Aula05OA/nbproject/private/private.xml
*.properties
*.xml
php-curso/Aula12While02/aula12/.idea/.name
*.iml
*.css
php-curso/Aula13For/aula13/.idea/.name
